<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="jdbc:sqlserver://localhost:1433;databaseName=qingsoftinfo">
		</property>
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>
		<property name="username" value="sa"></property>
		<property name="password" value="qingsoft"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>net/qingruan/demo/vo/News.hbm.xml</value>
				<value>
					net/qingruan/demo/vo/NewsType.hbm.xml
				</value>
			</list>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="NewsDAO" class="net.qingruan.demo.dao.impl.NewsDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="NewsTypeDAO" class="net.qingruan.demo.dao.impl.NewsTypeDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="NewsTypeService" class="net.qingruan.demo.service.impl.NewsTypeServiceImpl">
		<property name="newsTypeDAO" ref="NewsTypeDAO"></property>
	
	</bean>
	<bean id="NewsService" class="net.qingruan.demo.service.impl.NewsServiceImpl">
		<property name="newsDAO" ref="NewsDAO"></property>
	</bean>
</beans>